<div class="flex flex-col h-full justify-center pb-24">
  <h2 class="self-center mb-4 font-bold text-2xl">{{ isRegister ? 'Register' : 'Login' }}</h2>

  <form *ngIf="!switching" [formGroup]="form" (ngSubmit)="onSubmit()" class="self-center mb-4">
    <div class="self-center p-4 mb-4 bg-blue-300 border-l-8 border-blue-400 rounded-lg" *ngIf="message">
      {{ message }}
    </div>

    <div class="mb-4">
      <label class="form__label" for="email">Email</label>
      <input class="form__input" type="text" formControlName="email" />
    </div>

    <div class="mb-4">
      <label class="form__label" for="email">Password</label>
      <input class="form__input" type="password" formControlName="password" />
    </div>

    <div *ngIf="isRegister" class="mb-4">
      <label class="form__label" for="display">Display Name</label>
      <input class="form__input" type="text" formControlName="display" />
    </div>

    <button class="button block mx-auto" type="submit">{{ isRegister ? 'Register' : 'Login' }}</button>
  </form>

  <a (click)="switchMode()" class="self-center">{{
    isRegister ? 'I already have an account.' : 'I need to create an account.'
  }}</a>
</div>
