<div class="h-full flex">
  <app-chat-room-list (selectRoom)="switchRooms($event)"></app-chat-room-list>

  <div *ngIf="currentRoom" class="h-full flex flex-col">
    <h2 class="text-xl font-bold">{{ currentRoom.name }}</h2>
    <div>Connected Users: {{ connectedUsersCount }}</div>

    <div class="flex-auto overflow-y-auto">
      <app-chat-message-list [messages]="messages"></app-chat-message-list>
    </div>

    <div class="flex-initial">
      <app-chat-box (send)="addChat($event)"></app-chat-box>
    </div>
  </div>
</div>
